.my-notification {
    border-radius: 10px;
    padding: 10px 20px;
}
.my-notification .notification-title {
    font-size: medium;
}
.my-notification .notification-content {
    font-size: medium;
}
.my-notification.success {
    background: #4ade80;
}
.my-notification.info {
    background: #2dd4bf;
}
.my-notification.error {
    background: #f87171;
}
.my-notification.warn {
    background: #fde047;
}
